In [265]:
from bs4 import BeautifulSoup
import requests
import re
from splinter import Browser
import pandas as pd

In [266]:
# URL of Python reddit
url = 'http://mars.nasa.gov/news/'

In [267]:
# Retrieve page with the requests module

browser = Browser('chrome', headless=False)
browser.visit(url)

In [268]:
# Retrieve page with the requests module
response = requests.get(url)

In [269]:
# results are# Loop through returned results

    # HTML object
html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
  # Retrieve all elements that contain book informationt
results = soup.find_all('ul', class_="item_list")
    # Retrieve all elements that contain book information
for result in results:
    htitle = soup.find('div', class_='content_title').text.strip()
    p = soup.find('div', class_='article_teaser_body').text.strip()
# {"class":"wrapper"}
    print(htitle)
    print("\n")
    print(p)
    print("\n")

NASA Mars Mission Tours California


Scientists and engineers with NASA's next mission to Mars will be touring California cities starting this month.

In [ ]:
### JPL Mars Space Images - Featured Image

In [270]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [284]:
# Retrieve page with the requests module

browser = Browser('chrome', headless=False)
browser.visit(url2)

In [285]:
# Retrieve page with the requests module
response = requests.get(url2)

In [286]:
# results are# Loop through returned results

    # HTML object
html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
  # Retrieve all elements that contain book informationt
results = soup.find_all('div', class_="carousel_items")
    # Retrieve all elements that contain book information
for result in results:
    imgurl = result.article['style']
    print(imgurl)

background-image: url('/spaceimages/images/wallpaper/PIA18899-1920x1200.jpg');

In [ ]:
### Mars Weather

In [274]:
twitterurl = 'https://twitter.com/marswxreport?lang=en'

In [275]:
# Retrieve page with the requests module

browser = Browser('chrome', headless=False)
browser.visit(twitterurl)

In [276]:
# Retrieve page with the requests module
response = requests.get(twitterurl)

In [277]:
# results are# Loop through returned results

    # HTML object
html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
  # Retrieve all elements that contain book informationt
results = soup.find('div', class_="js-tweet-text-container")
    # Retrieve all elements that contain book information
for result in results:
    mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text.strip()
    print(mars_weather)

We see further because we stand on the shoulders of giants like #StephenHawking. Ad astra per aspera professor, semper explorohttp://www.bbc.com/news/uk-43396008 …
We see further because we stand on the shoulders of giants like #StephenHawking. Ad astra per aspera professor, semper explorohttp://www.bbc.com/news/uk-43396008 …
We see further because we stand on the shoulders of giants like #StephenHawking. Ad astra per aspera professor, semper explorohttp://www.bbc.com/news/uk-43396008 …

In [ ]:
### Mars Facts

In [287]:
pandasurl = 'http://space-facts.com/mars/'

In [288]:
# Retrieve page with the requests module

browser = Browser('chrome', headless=False)
browser.visit(pandasurl)

In [289]:
# Retrieve page with the requests module
response = requests.get(pandasurl)

In [290]:
tables = pd.read_html(pandasurl)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [291]:
type(tables)

list

In [293]:
df = tables[0]
df.columns = ['Metric', 'Value',
              ]
df.head()

                 Metric                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [294]:
type(df)

pandas.core.frame.DataFrame

In [295]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Metric</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [296]:
### Mars Hemisperes

In [297]:
hemiurl = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [300]:
# Retrieve page with the requests module

browser = Browser('chrome', headless=False)
browser.visit(hemiurl)

In [302]:
# Retrieve page with the requests module
response = requests.get(hemiurl)

In [308]:
value_stores = ['img', 'title']

In [317]:
# results are# Loop through returned results

    # HTML object
html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
  # Retrieve all elements that contain book informationt
results = soup.find('a', class_="itemLink product-item")
    # Retrieve all elements that contain book information
for result in results:
    img_url = soup.find('img', 'src')
    print(img_url)

None